*{ 
    margin: 10px;
  
}
body{
    background: rgb(137, 199, 214);
}

.form-control {
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #1289A7;
    border-color:  #1289A7;
}

#error {
color: red;
}