*{ 
    margin: 3px;
    padding: 5px;
}
body{
    background: rgb(137, 199, 214);
   
}
img {
    position: absolute;
    left: 80px;
    top: -25px;
}
.form-control {
    width: 200px;
    padding: 10px;
    margin: 20px;
}
.title{
    margin-left: -50px;
}
.info {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
}
.temp {
    display:flex;
    flex-direction: row;
   
}
.btn {
    padding: 10px;
    margin: 20px;
    background: #1289A7;
    border-color:  #1289A7;
    height: 50px;
    width: 100px;
}

#error {
color: red;
}

footer{
    margin-top: 320px;
    display: flex;
   justify-content: center;
}
.main {
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-left: 200px;
}
